<head>
  <meta charset="utf-8" />
  <title>
    {% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.subtitle }}{% endif %}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.summary %}
    <meta name="description" content="{{ page.summary | escape }} - {% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}

  <meta name="keywords" content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{{ categories_slug }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %},{{ page.keywords | escape }}"/>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | relative_url }}" />
  <meta content="{{ site.share.fb_appid }}" property="fb:app_id" />
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.noindex %}
  <meta name="robots" content="noindex" />
  {% endif %}

  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  <meta content="article" property="og:type" />
  {% else %}
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="website" property="og:type" />
  {% endif %}

  {% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description" />
  {% else %}
  <meta content="{{ site.description }}" property="og:description" />
  {% endif %}

  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
  {% endif %}

  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  <meta content="{{ site.url }}/about/" property="article:author" />
  {% endif %}

  {% if page.thumbnail %}
  <meta content="{{ site.url }}{{ page.thumbnail }}" property="og:image" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/ankolture.png" />
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section" />
    {% endfor %}
  {% endif %}

  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag" />
    {% endfor %}
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.share.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.share.twitter_username }}" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %}

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}

  {% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}" />
  {% endif %}

  <!-- Estilos locales -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/bower_components/lightgallery/dist/css/lightgallery.min.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/bower_components/icono/dist/icono.min.css" | relative_url }}">

  <!-- Estilos externos -->
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

  <!-- Favicon -->
  <link rel="icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon" sizes="16x16" />

  <!-- Scripts -->
  <script>var base_url = '{{ site.url }}{{ site.baseurl }}';</script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="{{ "/assets/js/mode-switcher.js" | relative_url }}"></script>
  <script src="{{ "/assets/bower_components/jquery.easing/jquery.easing.min.js" | relative_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ "/assets/bower_components/jquery-mousewheel/jquery.mousewheel.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bower_components/ghosthunter/dist/jquery.ghostHunter.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bower_components/lightgallery/dist/js/lightgallery-all.min.js" | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
  <script src="{{ "/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bower_components/nanobar/nanobar.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bower_components/typewrite/dist/typewrite.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/search.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/on-scroll-progress.js" | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

  {% if page.usemathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/assets/js/updateshoppingcart.js" defer></script>
    <script src="{{ site.baseurl }}/assets/js/currenturl.js" defer></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  
</head>
