<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="topNav">
  <a href="/"><img src="{{site.url}}{{site.baseurl}}/assets/img/logocabezote.png"
      style="width:184px; margin-left: 20px;" /></a>


  <!-- <ul class="nav justify-content-end">
        
            <li class="nav-item"> 
              <input
                class="nav-link switch theme-toggle"
                type="checkbox"
                name="checkbox"
              />
            </li>
          </ul> -->

  <!-- <ul class="nav justify-content-end"></ul>
  <li class="nav-item" style="list-style: none;"> <a class="nav-link toggle-search-button" href="#search"> <i class="fa fa-search search-icon"
        aria-hidden="true"></i> </a> </li>
  </ul> -->

    <div class="d-flex justify-content-end p-3">
    <div class="position-relative">
      <a style="text-decoration: none;" href="/">
        <i class="fas fa-home text-white fs-3"></i>
      </a>
    </div>
  </div>

  <div class="d-flex justify-content-end p-3">
    <div class="position-relative">
      <a style="text-decoration: none;" href="{{site.url}}{{site.baseurl}}/shoppingcart">
        <i class="fas fa-shopping-cart text-white fs-3">
          <span class="cart-count"
            style="position: absolute; top: -15px; right: -15px; background-color: #f69801; color: black; border-radius: 50%; padding: 5px 5px; font-size: 14px;"></span>
        </i>
      </a>
    </div>
  </div>

</nav>
<div id="progress-bar"></div>


<!-- Search Form -->
<!-- <div class="search-form-container mt-3">

  <form class="search-form">
    <fieldset class="search-form__fieldset">
      <div class="row">
        <div class="col-lg-8 offset-md-2">
          <input class="search-form__field" placeholder=" Searchx..." autofocus>
          <input class="search-form__submit" type="submit" value="search">
        </div>
      </div>
    </fieldset>
  </form>

  <div class="row">
    <div class="col-lg-8 offset-md-2 search-results">
      <div class="card search-results"></div>
    </div>
  </div>

  <div class="close-search-button search-form-container__close">
    <i class="fa fa-times icon"></i>
  </div>
</div> -->