---
layout: defaults
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}

<body>
  {%- include header.html -%}

  <div class="container-fluid">
    {{ content }}


  </div>

  <div class="containers  mt-5">

    <!-- 1. Logo  -->
    {% for exp in site.author_work_experiences %} {% if exp.visibility == true
    %}

    <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}" class="profile-picture" />

    {% endif %} {% endfor %}

    <!-- 2. Nombre de su link Tree 
  
          <div class="profile-name">ANKOLTURE</div> -->

    <!-- 3. Links  -->

    <a href="https://www.instagram.com/ankolture/" class="links">
      <i class="fab fa-instagram">&nbsp;</i>
      Instagram
    </a>

    <a href="https://wa.me/573233398124?text=Hola%20quiero%20más%20información%20de%20las%20MegaCamisetas" class="links"
      target="_blank">
      <i class="fab fa-whatsapp">&nbsp;</i>
      WhatsApp
    </a>

    <a href="/catalog" class="links">
      <i class="fas fa-book">&nbsp;</i>
      Catálogo
    </a>

    <a href="/sizeguide" class="links">
      <i class="fas fa-ruler">&nbsp;</i>
      Guía de tallas
    </a>


    <!-- 
    <div class="slider-container">
     
      <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/thepockets.png"
                                alt="" style="width: 160px; height: auto;" class="img-fluid d-block mx-auto mt-3 mb-3">
      {% if site.data.collections.thepockets %}
      <div class="owl-carousel owl-theme">
        {% for folder in site.data.collections.thepockets.thepockets %}
        {% assign folder_name = folder[0] %}
        {% assign images = folder[1] %}
        {% for image in images %}
        <div class="item">
          <a href="{{site.url}}{{site.baseurl}}/{{ image.url }}?collection=thepockets&id={{ image.id }}">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/{{ folder_name }}/{{ image.name }}"
              alt="{{ image.name | split: '/' | last }}">
          </a>
        </div>
        {% endfor %}
        {% endfor %}

      </div>

      {% else %}
      <p>No se pudo cargar el archivo de imágenes.</p>
      {% endif %}

      <p>HAZ CLICK EN LA IMAGEN PARA VER EL DETALLE DE LA CAMISETA</p>
    </div> -->




    <!-- https://tinypng.com/ -->

    <!--------------------Footer---------------------------->
    <!-- <div class="footer mt-5">
          <hr/>
          <h6>Estamos en <span class="love">♥</span> Av. Buque Pesquero 281 - Mar del Plata, (Buenos Aires - Argentina)</h6>
          <h6>
          Producido por:
          <a href="/" class="name" target="_blank"> (capacitaciones UTN TIC) </a>
          <a id="email" href="mailto:ankolture@gmail.com"> <i class="fa fa-envelope"> </i> </a>
          </h6>
      </div> -->

   <div class="text-white py-2"
      style="background-color:#1c1c1e; font-size: 0.8rem; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1030; box-shadow: 0 -2px 10px rgba(0,0,0,0.2);">
      <div class="container text-center">
        <div class="cart mt-2 d-flex justify-content-center gap-2">
         <p>© 2025 ANKOLTURE. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
 
  </div>






  {%- include footer.html -%}


  <div hidden id="snipcart" data-api-key="Y2I1NTAyNWYtMTNkMy00ODg0LWE4NDItNTZhYzUxNzJkZTI5NjM3MDI4NTUzNzYyMjQ4NzU0">
  </div>
  <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/owlcarrusel.js"></script>


</body>

</html>